doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p layout
    block content


    script(type="text/javascript", src="/javascripts/bootstrap/bootstrap-button.js")
